<div class="container">
  <h1>Add New Asset</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="createAsset()" #assetForm="ngForm">
        <div class="form-group">
          <label for="name">Asset Id</label>
          <input type="text" class="form-control" [(ngModel)]="asset.assetid" name="Asset Id" required>
        </div>
        <div class="form-group">
          <label for="name">File Name</label>
          <input type="text" class="form-control" [(ngModel)]="asset.file_name" name="File Name" required>
        </div>
        <div class="form-group">
          <label for="name">Mime Type</label>
          <input type="text" class="form-control" [(ngModel)]="asset.mime_type" name="Mime Type" required>
        </div>
        <div class="form-group">
          <label for="name">Created By</label>
          <input type="datetime" class="form-control" [(ngModel)]="asset.created_by" name="Created By" required>
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="datetime" class="form-control" [(ngModel)]="asset.email" name="EMail" required>
        </div>
        <div class="form-group">
          <label for="name">Country</label>
          <input type="datetime" class="form-control" [(ngModel)]="asset.country" name="Country" required>
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <input type="datetime" class="form-control" [(ngModel)]="asset.description" name="Description" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!assetForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
