<div class="container">
  <h1>{{ asset.assetid }}</h1>
  <dl class="list">
    <dt>Description</dt>
    <dd>{{ asset.description }}</dd>

  </dl>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/edit', asset.assetid]" class="btn btn-success">Edit</a>
      <button class="btn btn-danger" type="button" (click)="deleteAsset(asset.assetid)">Delete</button>
    </div>
  </div>
</div>
