<div class="container">
  <h1>
    Asset List
  </h1>
  <hr />
  <a href="/create">Create Asset</a>
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>FileName</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asset of assets">
        <td>{{ asset.assetid }}</td>
        <td>{{ asset.description }}</td>
        <td><a href="/details/{{asset.assetid}}">Details</a></td>
        <td><a href="/edit/{{asset.assetid}}">Edit</a></td>
      </tr>
    </tbody>
  </table>

</div>
